<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registered People</title>
  <link rel="stylesheet" href="/login/login/public/css/stylesSearch.css">
</head>
<body>
  <div class="container">
    <h1>Registered People</h1>
    <table id="peopleTable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Identification</th>
          <th>Name</th>
          <th>Username</th> <!-- Nueva columna para el nombre de usuario -->
          <th>Age</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <button onclick="window.location.href='index.html'">Back to Manage People</button>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      fetch('/people')  // Llama a la nueva ruta en el servidor
        .then(response => response.json())
        .then(data => {
          const tbody = document.getElementById('peopleTable').querySelector('tbody');
          tbody.innerHTML = '';
          data.forEach(person => {
            const row = document.createElement('tr');
            row.innerHTML = `
              <td>${person.id}</td>
              <td>${person.identificacion}</td>
              <td>${person.nombre_usuario}</td>
              <td>${person.apellido_usuario}</td>
              <td>${person.rol }</td>
              <td>${person.genero }</td>
              <td>${person.email}</td>
              <td>${person.contrasenna}</td>
              <td>${person.fecha_registro}</td>
            `;
            tbody.appendChild(row);
          });
        });
    });
  </script>
</body>
</html>
